pmed_fwk/pmed_fwk-base/src/main/generated-sources/java/queryDSL/com/everis/pmed_fwk/base/entity/QAbstractAudit.java
pmed_fwk/pmed_fwk-base/src/main/generated-sources/java/queryDSL/com/everis/pmed_fwk/base/entity/QAbstractEntityEmpty.java
pmed_fwk/pmed_fwk-base/src/main/generated-sources/java/queryDSL/com/everis/pmed_fwk/base/entity/QRevInfo.java
